.tile {
    display: flex;
    flex-flow: column;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: var(--lwc-borderRadiusSmall);
}

.selectedTile {
    display: flex;
    flex-flow: column;
    height: 100%;
    border: 2px solid var(--lwc-colorBorderBrand);
}

.tileHeader {
    min-height: 60px;
    background-position: center;
    background-size: cover;
}

.tileContent {
    display: flex;
    flex-flow: column;
    height: 100%;
    /* justify-content: space-between; */
}

.fieldGrid {
    display: flex;
    align-items: center;
}

.tileActions {
    height: 100%;
    align-items: flex-end;
}

.fieldValueColumn {
    min-width: 0;
}

.boldTitle {
    font-size: 0.875rem;
    font-weight: var(--lwc-fontWeightBold, 700);
}

.boldLabel {
    font-size: 0.75rem;
    font-weight: bold;
}

.regularText {
    font-size: 0.75rem;
}